/* Styles that only apply to index (the main game). */

#loading {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#main-menu {
  color: #111;
  background-color: #eee;
  border-radius: 16px;
  box-shadow: 8px 8px 8px #222;
  padding: 16px;
  height: 480px;
  width: 640px;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

#main-menu .title {
  text-align: center;
}

#main-menu .menu {
  display: flex;
  justify-content: space-evenly;
}

#main-menu button {
  background: linear-gradient(135deg, #fff, #baa);
  font-size: 16px;
}

#main-menu .cow::before {
  content: "🐄";
  font-size: 80px;
}

#loading {
  color: #fff;
  font-size: 32px;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#progress-bar {
  margin-top: 8px;
  padding: 1px;
  border: 2px solid #fff;
  height: 32px;
  width: 320px;
}

#progress-bar > div {
  background-color: #fff;
  height: 100%;
}

#ingame-menu {
  left: 32px;
  top: 16px;
  border: 2px solid grey;
  background-color: #00000080;
  padding: 16px;
}
