/* Styles for the map editor. */

#map-editor-controls {
  color: #111;
  background-color: #eee;
  border: 2px solid #000;
  border-radius: 4px;
  min-width: 284px;
  left: 32px;
  top: 18px;
}

#map-editor-controls #dragbar {
  color: white;
  height: 22px;
  width: calc(100% - 22px);
  background-color: black;
  margin-bottom: 16px;
  cursor: grab;
  position: relative;
}

#map-editor-controls #minimize {
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  width: 22px;
  background-color: #000;
  cursor: pointer;
}

#map-editor-controls #minimize .minus {
  position: absolute;
  background-color: #fff;
  top: 7px;
  height: 6px;
  width: 22px;
}

#map-editor-controls #minimize .plus {
  position: absolute;
  background-color: #fff;
  left: 8px;
  width: 6px;
  height: 20px;
}

#map-editor-controls .content {
  margin: 16px;
}

#map-editor-controls button,
#map-editor-controls select {
  background-color: #fff;
}

#map-editor-controls .content > div {
  margin-bottom: 8px;
}

#map-editor-controls .content input[type="number"] {
  margin-right: 8px;
  width: 47px;
}
