/* Common styles for both index (the main game) and map-editor. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#gameboard {
  position: fixed;
  z-index: 1;
}

.perspective #gameboard {
  transform: perspective(600px) rotateX(15deg) scale(1.5);
}

.ui {
  position: fixed;
  z-index: 100;
}

button, select {
  cursor: pointer;
  border-radius: 16px;
  padding: 2px 8px;
  font-family: Arial, sans-serif;
}
